const config = {
    ApplicationId: 'c69bf4ca',
    ApiKey: '91a307834bfc976b3957212b74b98d42',

    maxTravelTime: 2400,

    // london i think
    focusLoc: {
        lat: 51.516308,
        lng: -0.135124
    },

    targetLoc: {
        lat: 51.523361,
        lng: -0.083068
    }
};